* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: transparent;
}

/* =============== Стиль для меню ============== */

.header {
    background: #0a61f7;
    /*height: 76px;*/
    padding: 14px 0;
}

.menu-link {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    *line-height: 20px; /*1.66667;*/
    letter-spacing: 0.12em;
    text-transform: uppercase;
    /*text-align: right;*/
}

/*.main-img {*/
/*    border-radius: 10px 10px 0 0;*/
/*    width: 656px;*/
/*    height: 650px;*/
/*    !*background-image: url("./assets/images/image.png");*!*/
/*}*/
/* ============== Стили для 1 ой секции ==================== */

.main-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 1.17241;
    color: #363940;
    margin-bottom: 30px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #95a1bb;
    margin-bottom: 40px;
}

.button {
    border-radius: 4px;
    width: 152px;
    height: 50px;
    background-color: #0a61f7;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /*text-align: center;*/
    color: #fff;
}

/* ================== Стили для 2 ой секции ==============*/

.rates-section {
    /*width: 1400px;*/
    /*height: 625px;*/
    background-color: #f9fafc;
    padding: 100px;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.34375;
    text-align: center;
    color: #363940;
    margin-bottom: 20px;
}

.table {
    border-collapse: collapse;
    /*убираем отступы между границами таблицы*/
}

td, th { /*Стилизуем по названию тега*/
    border: 1px solid #95a1bb; /*цвет стиль и толщина границ таблицы*/
    width: 240px; /*ширина ячейки*/
    padding: 15px 0;
    text-align: center;
}





















